:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background: var(--Light-grayish-cyan);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8em;
  color: var(--Dark-grayish-cyan);
  font-size: 15px;
}

.header {
  width: 25%;
  line-height: 2em;
  letter-spacing: 0.5em;
}

.next {
  background: red;
}

.container {
  height: 100vh;
  background: var(--White);
  border-radius: 25px 25px 0 0;
}

.inner-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  height: 100vh; 
  margin: auto;
}

.main-bill-ctn {
  margin-top: 25px;
}

.bill {
  color: var(--Grayish-cyan);
}

.bill-ctn {
  background: var(--Very-light-grayish-cyan);
  height: 40px;
  min-width: 250px;
  width: 300px;
  margin-top: 5px;
  border-radius: 3px;
}

.amount-ctn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  font-size: 23px;
  font-weight: bold;
  color: var(--Very-dark-cyan);
}

.tip-ctn {
  min-width: 250px;
  width: 300px;
}

.tip-header {
  margin-bottom: 10px;
  color: var(--Grayish-cyan);
}

.tip-percent-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.list-item {
  width: 120px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background-color: var(--Very-dark-cyan);
  border-radius: 8px;
  color: var(--White);
}

.list-item:hover {
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.footer-ctn {
  min-width: 250px;
  width: 300px;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  background: var(--Very-dark-cyan);
}

.tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--White);
}

.tip-value {
  font-size: 30px;
  color: var(--Strong-cyan);
}

.reset-btn {
  display: block;
  margin: 10px auto;
  width: 260px;
  height: 40px;
  background: var(--Strong-cyan);
  font-size: 20px;
  font-weight: bold;
  color: var(--Very-dark-cyan);
  border: none;
  border-radius: 5px;
}