:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  background: var(--Light-grayish-cyan);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10em;
  color: var(--Dark-grayish-cyan);
  font-size: 15px;
}

.header {
  width: 21%;
  line-height: 2em;
  letter-spacing: 0.5em;
}

.container {
  background: var(--White);
  border-radius: 25px 25px 0 0;
  height: 100vh;
}

.inner-ctn {
  width: 300px;
  margin: auto;
  padding: 30px 0;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: 10px auto;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 5px;
  background: var(--Very-light-grayish-cyan);
  cursor: pointer;
}

.input-wrapper:hover {
  border: 2px solid var(--Strong-cyan);
}

.input-field {
  border: none;
  outline: none;
  width: 170px;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  background: var(--Very-light-grayish-cyan);
  text-align: right;
  letter-spacing: 0.08em;
  color: var(--Very-dark-cyan);
  cursor: pointer;
}

.bill {
  color: var(--Grayish-cyan);
}

.main-bill-ctn {
  margin: 1.5rem auto;
}

#number-error {
  color: red;
  text-align: right;
}

.tip-header {
  margin-bottom: 13px;
  margin-top: 13px;
  color: var(--Grayish-cyan);
}

.tip-percent-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.list-item {
  width: 130px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--Very-dark-cyan);
  border: none;
  border-radius: 5px;
  color: var(--White);
  cursor: pointer;
}

.list-item:focus {
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

#item {
  width: 111px;
  text-align: right;
  font-size: 23px;
  font-weight: bold;
  color: var(--Very-dark-cyan);
  background: var(--Very-light-grayish-cyan);
  outline: none;
  border: none;
}

.footer-ctn {
  min-width: 250px;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
  background: var(--Very-dark-cyan);
}

.tip-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: var(--White);
}

.small {
  color: var(--Grayish-cyan);
}

.tip-value {
  font-size: 23px;
  color: var(--Strong-cyan);
}

.reset-btn {
  display: block;
  margin: 10px auto;
  width: 260px;
  height: 40px;
  background: var(--Strong-cyan);
  font-size: 20px;
  font-weight: bold;
  color: var(--Very-dark-cyan);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background: var(--Light-grayish-cyan);
}

/********** MEDIA QUARIES **********/

@media (min-width: 598px) and (max-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
  }

  .inner-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 630px;
    height: 250px;
    margin: 0px;
  }

  .new-div {
    max-width: 300px;
    margin: 0;
  }

  .second-new-div {
    width: 300px;
  }

  .main-bill {
    font-size: 15px;
  }

  .main-bill-ctn {
    font-size: 15px;
  }

  .input-wrapper {
    height: 15px;
  }

  .input-field {
    width: 170px;
    font-size: 18px;
  }

  .tip-percent-list {
    gap: 7px;
  }

  .list-item {
    width: 95px;
    font-size: 18px;
  }

  #item {
    width: 75px;
    font-size: 18px;
  }

  .footer-ctn {
    height: 310px;
    max-width: 300px;
    margin: 0;
  }

  .reset-btn {
    margin-top: 70px;
  }

}